<div class="" style="max-width: 1320px; margin: 0 auto;">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    {{ page.content }}
  </div>
</div>
<script>
  window.permanent_domain="{{ shop.permanent_domain }}";
</script>
<script defer="defer" src="https://shopify.winehub.io/wine-subscription/assets/index.5f911980.js"></script>
<link href="https://shopify.winehub.io/wine-subscription/assets/index.eec82720.css" rel="stylesheet">
<noscript>You need to enable JavaScript to access the wine subscription process.</noscript>
<div id="root"></div>
