<div class="page-width page-width--narrow">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    {{ page.content }}
  </div>
</div>
<script defer="defer" src="https://howards-folly-wine.digitact.co.uk/wine-subscription-mock/static/js/main.2e70f4ca.js"></script>
<link href="https://howards-folly-wine.digitact.co.uk/wine-subscription-mock/static/css/main.a0007d2c.css" rel="stylesheet">
<noscript>You need to enable JavaScript to access the wine subscription process.</noscript>
<div id="root"></div>