<div class="" style="max-width: 1320px; margin: 0 auto;">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    {{ page.content }}
  </div>
</div>
<div class="wine-casebuilder">
  <script>
    window.permanent_domain="{{ shop.permanent_domain }}";
    const params = new Proxy(new URLSearchParams(window.location.search), {
      get: (searchParams, prop) => searchParams.get(prop),
    });
    // Get the value of "some_key" in eg "https://example.com/?some_key=some_value"
    window.shipment_key = params.shipment_key; // "some_value"
  </script>
  <script defer="defer" src="https://wineclub-demo.digitact.co.uk/shipment-picker/static/js/main.493da82a.js"></script>
  <link href="https://wineclub-demo.digitact.co.uk/shipment-picker/static/css/main.748c59ef.css" rel="stylesheet">
  <noscript>You need to enable JavaScript to access the wine subscription process.</noscript>
  <div id="react-case-builder-module"></div>
</div>

