<div class="page-width page-width--narrow">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    {{ page.content }}
  </div>
</div>
<script>
  window.permanent_domain="{{ shop.permanent_domain }}";
</script>
<script defer="defer" src="https://wineclub-demo.digitact.co.uk//wine-subscription-mock/static/js/main.f82d7584.js"></script>
<link href="https://wineclub-demo.digitact.co.uk//wine-subscription-mock/static/css/main.5fb02312.css" rel="stylesheet">
<noscript>You need to enable JavaScript to access the wine subscription process.</noscript>
<div id="root"></div>
